#luna{background-image:url(pix/stars.jpg);background-repeat:repeat;text-align:center;}
#luna p{margin:0;padding-bottom:0.5em;background-color:transparent;color:#000000;text-shadow:0 0 0.6em #ffffff,0 0 0.6em #ffffff,0 0 0.6em #ffffff,0 0 0.6em #ffffff,0 0 0.6em #ffffff,0 0 0.6em #ffffff;}

